body {
  margin: 0;
}
h1 {
  font-size: 50px;
  font-weight: 700;
}
.orange {
  color: orange;
}
.all-mission-2022 {
  display: flex;
  font-family: "Merriweather", serif;
}
.main-part {
  margin-top: 90px;
}
.main-mission {
  width: 50%;
  padding-left: 5%;
}
.main-mission img {
  width: 70%;
}
.description-mission {
  margin-bottom: 6%;
}
.header {
  border-left: 8px solid rgba(204, 55, 18, 0.966);
  padding-left: 15px;
}
.small {
  margin-top: 7%;
}
.button {
  color: white;
  background-image: linear-gradient(orange, red);
  padding: 10px 30px;
  border: 0;
  text-decoration: none;
  border-radius: 5px;
}
.my-mission {
  font-family: "Ubuntu", sans-serif;
  margin-top: 70px;
}
.center {
  text-align: center;
}
.center {
  font-size: 40px;
  font-weight: 800;
}
.mission-part {
  width: 100%;

  background-color: lightcyan;
  padding-left: 15px;
  margin-left: 5%;
  border-radius: 10px;
  padding-bottom: 10px;
}

.vission-part {
  width: 100%;

  background-color: rgb(240, 221, 224);
  padding-left: 15px;
  margin-left: 5%;
  border-radius: 10px;
}
.goals-part {
  width: 100%;

  background-color: lightyellow;
  padding-left: 15px;
  margin-left: 5%;
  border-radius: 10px;
}

.flexible {
  display: flex;
  margin-left: 10px;
  margin-right: 50px;
}
.second {
  font-weight: 700;
}
.develop {
  display: flex;
  margin-top: 120px;
  margin-left: 100px;
  margin-right: 100px;
}
.dev-image {
  background-image: url(shape-1.png);
  background-repeat: no-repeat;
  background-size: 180px;
  background-position: 1px;
}
.global-image {
  background-image: url(shape-1.png);
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 1110px 350px;
}
.hello {
  background-color: rgb(245, 81, 22);
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
}
.port {
  display: flex;
}
.div1 {
  margin-left: 60px;
}
.div2 {
  margin-left: 34px;
}
.div3 {
  margin-left: 46px;
}
.div4 {
  margin-left: 14px;
  margin-bottom: 20px;
}
.ques {
  font-weight: 600;
}
.red {
  color: orangered;
}
.white {
  color: white;
}
.copy {
  font-size: 30px;
  font-weight: 700;
}
footer {
  background-color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  margin-top: 50px;
}
